.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 60px;

    .header-home a {
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
    }

    .header-search {
        display: flex;
        input {
            outline:none;
            color: #ffffff;
            height: 35px;
            width: 300px;
            padding: 0 15px;
            background-color: #333;
            font-weight: 300; 
            border-radius: 10px;
            border: none; 
        }
        button {
            background: none;
            margin-left: 10px;
            .svg-icon {
                width: 25px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}